
/* 
    Created on : Nov 29, 2014, 12:21:57 PM
*/

body {
    padding-top: 30px;
    background-image: url("woodbk.png");
    color : #EEEEEE;
    text-align : center;
    overflow : hidden;
    font-family:Helvetica Narrow, sans-serif;
    font-size: 152%;

}
 
.description{
    padding-top:13px;
    position:absolute;
    width:60%;
    background-color:#000000;
    opacity:0.6;
    height:100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-bottom: 1px solid #B81406;
    border-left: 24px solid #B81406;
    border-right:24px solid #B81406;
    border-top:24px solid #B81406;
    border-radius: 10px;
}

h1,legend {

    color : #EEEEEE;
    text-align : center;  
    background-color:black;
    z-index:0;
    opacity:0.7;
    border-bottom: 1px solid #000000;
}

h2 {
    font-weight:normal;
    font-size:13px;
    font-family:verdana, sans-serif;
}


#Nav{
    text-align : center; 
    margin-top:50px;
}


#NavIndex{
    text-align : center; 
    margin-top:80px;
}

a:link {
    color: darkgray; 
}

a:active {
    color: antiquewhite;
}


a:visited {
    color: gold; 
}

a:hover {
    color: darkgray; 
}

.container
{ 
    width:40%;
    border-bottom: 1px solid #000000;
    border-left: 13px solid #000000;
    border-right:13px solid #000000;
    border-top:1px solid #000000;
    border-radius: 10px;
}

#linking{
    padding-top: 5px;
    font-style: italic;
    font-size: .8em;

}

input[type=submit] { 
    padding:5px 15px;
    background:#000000; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=reset] { 
    padding:5px 15px; 
    background:#000000;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

 
.button {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #000000;
    color: #000000;
    padding: 15px 20px 15px 20px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 10px 10px10px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #B81406;
    box-shadow: 0 2px 2px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
}